coverage/
html-report/
docs/

.DS_Store

*.swp
.elasticbeanstalk/
node_modules/

*.log

Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
